@media screen and (max-width: 1449.98px) {
    .header__heading_right img {
        width: 100%;
    }
}

@media screen and (max-width: 1199.98px) {
    html, body {
        font-size: 14px;
    }

    .container {
        max-width: 992px;
    }

    .header__heading_right img {
        right: 0;
    }

    .header__nav {
        background-color: rgba(255, 255, 255, 0.5);
        width: 100vw;
        max-width: 100vw;
        margin: 0;
        height: 50px;
    }

    .header__logo_wrapper {
        height: 50px;
    }

    .header__ul {
        margin-left: 50px;
    }

    .header__link_phone {
        color: $color-main;
    }

    .clear__list {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .clear__item {
        width: 30%;
        align-items: center;
    }

    .clear__description {
        margin-top: 15px;
        width: 60%;
        text-align: center;
    }

    .quiz__form_wrapper {
        padding: 40px;
    }

    .quiz__input_number {
        width: 195px;
    }

    .placement__heading::after {
        right: 0;
    }

    .certificates__item {
        width: 23%;
        //height: auto;

        & a img {
            width: 100%;
            height: auto;
            //height: auto;
            //object-fit: contain;
        }
    }

    .placement img {
        max-width: 50%;
    }
}

@media screen and (max-width: 991.98px) {
    .container {
        max-width: 768px;
    }

    .header {
        background: url('../img/header-box.png'), url('../img/header-background-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center right, center center;
        background-size: 50vh, cover;
        padding-bottom: 40px;
        height: auto;
    }

    .header__logo {
        position: relative;
        left: 10px;
    }

    .header__logo_wrapper {
        width: 50px;
    }

    .header__logo_wrapper img {
        height: 28px;
    }

    .header__heading_right {
        display: none;
    }

    .header__heading_left {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__location {
        align-self: center;
    }

    .mobile-menu__button {
        display: flex;
    }

    .header__ul {
        display: none;
    }

    .header__h1 {
        margin-left: 0;
    }

    .header__nav {
        width: 100vw !important;
        max-width: 100vw !important;
        padding: 0;
        background: rgba(255, 255, 255, 0.85);
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.25);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;
    }

    .header__ul.header__ul_visible {
        display: flex;
        flex-direction: column;
        background-color: $color-lightgray;
        height: 50vmax;
        width: 100vw;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 50;
        transition: width 0.4s ease;
        justify-content: space-around;
        align-items: flex-end;
        padding: 50px;
        box-shadow: 0 10px 30px $color-darkgray;
    }

    .header__link_phone {
        color: $color-main;
    }

    .header__link {
        font-size: 2rem;
        background: linear-gradient(to bottom, transparent 0%, transparent 59.9%, $color-yellow-light 60%, $color-yellow-dark 100%);
    }

    .advantages__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantages__item {
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .section__heading {
        line-height: 1.25;
    }

    .quiz__form_wrapper {
        padding: 20px;
    }

    .quiz__column {
        width: 100%;
    }

    .quiz__inputs {
        flex-direction: column;
        align-items: flex-start;
    }

    .quiz__input_number {
        width: 100%;
    }

    .quiz__question_second, .quiz__question_third {
        .quiz__inputs label {
            margin-bottom: 15px;
        }
    }

    .placement {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)), url('../img/placement-box.jpg');
        background-repeat: no-repeat;
        background-position: center center, center center;
        background-size: contain, contain;

        & img {
            display: none;
        }
    }

    .placement__heading::after {
        left: 20%;
        right: initial;
    }

    .steps__item {
        padding: 20px;
    }

    .options__item {
        width: 40%;
    }

    .options__colors {
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        padding-top: 20px;
    }

    .options__color {
        width: 15%;
        margin-bottom: 20px;
    }

    .tingle-modal-box__content img {
        width: 90%;
    }

    .footer__contacts {
        flex-wrap: wrap;
    }

    .footer__figure {
        //width: 50%;
    }

    .footer__links {
        flex-grow: 1;
    }

    .footer__social {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__social, .footer__messengers {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 767.98px) {
    .container {
        max-width: 576px;
    }

    .quiz__heading {
        line-height: 1.25;
    }

    .gallery__buttons {
        justify-content: center;
    }

    .gallery__button_prev {
        margin-right: 40px;
    }

    .placement__heading::after {
        right: 0;
        left: inherit;
    }

    .steps__item {
        width: 48%;
    }

    .footer__form_wrapper {
        flex-wrap: wrap;
    }

    .footer__column {
        width: 100%;
    }

    .footer .button {
        margin-top: 15px;
    }

    .footer__checkbox_row {
        justify-content: flex-start;
    }

    .footer__contacts {
        margin-top: 15px;
    }

    .footer__figure {
        width: 100%;
        margin-bottom: 10px;
    }

    .quiz__question_fifth {

        & .quiz__input_number {
            width: 100%;
        }
        & .quiz__submit {
            flex-direction: column;
            align-items: flex-start;



            & .button {
                margin-bottom: 15px;
                width: 100%;
            }
        }
    }

    .quality__heading {
        line-height: 1.2;
        font-size: 1.8rem;
    }
    .quality__image {
        width: 50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
        margin-right: 20px;
        & img {
            width: 35px;
        }
    }
}

@media screen and (max-width: 575.98px) {
    //$section-padding = 35px !important;
    .container {
        //max-width: 320px;
        //max-width: 1px;
    }

    .header__link {
        font-size: 1.6rem;
    }

    .header__link_phone {
        font-size: 1.6rem;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .header__messenger:not(:last-child) {
        margin-right: 25px;
    }

    .header__messenger img {
        width: 35px;
        height: 35px;
    }

    .header__messenger:first-child img {
        width: 40px;
        height: 40px;
        position: relative;
        top: 2px;
    }

    .header {
        background-size: contain, cover;
    }

    .header__location {
        margin-top: 40px;
    }

    .clear__item {
        width: 50%;
    }

    .clear__description {
        line-height: 1.25;
    }

    .quiz__heading {
        margin-bottom: 10px;
    }

    .quiz__subheading {
        margin-bottom: 30px;
        line-height: 1.25;
    }

    .quiz__question {
        margin-bottom: 25px;
    }

    .quiz__input_number {
        margin-bottom: 5px;
    }

    .quiz__column {
        margin-bottom: 10px;
    }

    .button_arrow {
        margin: 20px auto 0 auto;
        width: 100%;
    }

    .placement__list {
        column-count: 1;
    }

    .placement__heading::after {
        //right: -30%;
        display: none;
    }

    .placement__item {
        margin-bottom: 25px;
    }

    .placement {
        background-position: bottom center, bottom center;
    }

    .placement__subheading {
        margin-bottom: 40px;
    }

    .steps__item {
        width: 100%;
        height: auto;
    }

    .options__item {
        width: 48%;
    }

    .options__image img {
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 0 !important;
        right: 0 !important;
        //height: auto;
        //width: 100%;
    }

    .options__item img {
        max-width: 140px;
    }

    .options__colors {
        width: 100%;
    }

    .options__color {
        width: 32%;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__input {
        padding: 5px;
        height: 50px;
    }

    .footer__copyright {
        margin-top: 0;
    }

    .footer__messengers {
        margin-bottom: 25px;
    }

    .section__heading, .quiz__heading {
        line-height: 1.15;
        margin-bottom: 10px;
    }

    .section__subheading {
        line-height: 1.2;
    }

    .clear__description {
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: center;
    }

    .placement__heading {
        //white-space: nowrap;
        line-height: 1.15;
    }

    .placement__subheading {
        line-height: 1.2;
        margin-bottom: 35px;
    }

    .placement {
        margin-bottom: 50px;
    }

    .steps .button {
        margin: 40px auto 0 auto;
        //align-self: center;
    }

    .footer .button {
        margin-top: 25px;
    }

    .footer .section__heading {
        margin-top: 40px;
    }

    .footer__text {
        font-size: 1.1rem;
    }

    .footer__social img {
        width: 35px;
        height: 35px;
    }

    .footer__messengers a {
        margin-left: 20px;
    }

    .footer__messengers img {
        width: 35px;
        height: 35px;
    }

    .footer__copyright {
        margin-top: 20px;
    }

    .quiz__question_fourth {
        .quiz__column {
            margin-bottom: 0;
        }
    }

    .modal__window, .modal__sent {
        padding: 10px;
    }



}

@media screen and (max-width: 404.98px) {
    .clear__item {
        width: 100%;
    }
}