@media screen and (max-width: 1449.98px) {
    .header__heading_right img {
        width: 100%;
    }
}

@media screen and (max-width: 1199.98px) {
    html, body {
        font-size: 14px;
    }
    .container {
        max-width: 992px;

    }
    .header__heading_right img {
        right: 0;
    }

    .header__nav {
        background-color: rgba(255,255,255,0.5);
        width: 100vw;
        max-width: 100vw;
        margin: 0;
        height: 50px;
    }

    .header__logo_wrapper {
        height: 50px;
    }

    .header__ul {
        margin-left: 50px;
    }

    .header__link_phone {
        color: $color-main;
    }

    .clear__list {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .clear__item {
        width: 30%;
        align-items: center;
    }

    .clear__description {
        margin-top: 15px;
        width: 60%;
        text-align: center;
    }

    .quiz__form {
        padding: 40px;
    }

    .quiz__input_number {
        width: 195px;
    }

    .placement__heading::after {
        right: -120px;
    }

    .certificates__item {
        width: 23%;
        //height: auto;

        & a img {
            width: 100%;
            height: auto;
            //height: auto;
            //object-fit: contain;
        }

    }

}

@media screen and (max-width: 991.98px) {
    .container {
        max-width: 768px;
    }

    .header {
        background: url('../img/header-box.png'), url('../img/header-background-mobile.jpg');
        background-repeat: no-repeat;
        background-position: center right, center center;
        background-size: 50vh, cover;
        padding-bottom: 40px;
        height: auto;
    }

    .header__logo {
        position: relative;
        left: 10px;
    }
    .header__logo_wrapper {
        width: 50px;

    }
    .header__logo_wrapper img {
        height: 28px;
    }

    .header__heading_right {
        display: none;
    }
    .header__heading_left {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__location {
        align-self: center;
    }

    .mobile-menu__button {
        display: flex;
    }

    .header__ul {
        display: none;
    }

    .header__h1 {
        margin-left: 0;
    }

    .header__nav {
        width: 100vw !important;
        max-width: 100vw !important;
        padding: 0;
        background: rgba(255,255,255,0.85);
        box-shadow: 0 5px 40px rgba(0,0,0,0.25);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 50;

    }


    .header__ul.header__ul_visible {
        display: flex;
        flex-direction: column;
        background-color: $color-lightgray;
        height: 50vmax;
        width: 100vw;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 50;
        transition: width 0.4s ease;
        justify-content: space-around;
        align-items: flex-end;
        padding: 50px;
        box-shadow: 0 10px 30px $color-darkgray;
    }

    .header__link_phone {
        color: $color-main;
    }

    .header__link {
        font-size: 2rem;
        background: linear-gradient(to bottom, transparent 0%, transparent 59.9%, $color-yellow-light 60%, $color-yellow-dark 100%);
    }

    .advantages__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantages__item {
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 30px;
        width: 100%;
    }

    .section__heading {
        line-height: 1.25;
    }

    .quiz__form {
        padding: 20px;
    }

    .quiz__column {
        width: 100%;
    }

    .quiz__inputs {
        flex-direction: column;
        align-items: flex-start;
    }

    .quiz__input_number {
        width: 100%;
    }

    .placement {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('../img/placement-box.jpg');
        background-repeat: no-repeat;
        background-position: center center, center center;
        background-size: contain, contain;

        & img {
            display: none;
        }
    }

    .placement__heading::after {
        left: 20%;
        right: initial;
    }

    .steps__item {
        padding: 20px;
    }

    .options__item {
        width: 40%;
    }

    .tingle-modal-box__content img {
        width: 90%;
    }






}

@media screen and (max-width: 767.98px) {
    .container {
        max-width: 576px;
    }

    .quiz__heading {
        line-height: 1.25;
    }
    .gallery__buttons {
        justify-content: center;
    }
    .gallery__button_prev {
        margin-right: 40px;
    }

    .placement__heading::after {
        right: 0;
        left: inherit;
    }

    .steps__item {
        width: 48%;
    }
}

@media screen and (max-width: 575.98px) {
    .container {
        //max-width: 320px;
        //max-width: 1px;
    }

    .header__link_phone {
        font-size: 1.8rem;
    }
    .header {
        background-size: contain, cover;
    }

    .header__location {
        margin-top: 40px;
    }

    .clear__item {
        width: 50%;
    }

    .clear__description {
        line-height: 1.25;
    }

    .quiz__heading {
        margin-bottom: 10px;
    }

    .quiz__subheading {
        margin-bottom: 30px;
        line-height: 1.25;
    }

    .quiz__question {
        margin-bottom: 25px;
    }

    .quiz__input_number {
        margin-bottom: 5px;
    }

    .quiz__column {
        margin-bottom: 10px;
    }

    .button_arrow {
        margin: 20px auto 0 auto;
        width: 100%;
    }

    .placement__list {
        column-count: 1;
    }

    .placement__heading::after {
        //right: -30%;
        display: none;
    }

    .placement__item {
        margin-bottom: 25px;
    }

    .placement {
        background-position: bottom center, bottom center;
    }

    .placement__subheading {
        margin-bottom: 40px;
    }

    .steps__item {
        width: 100%;
        height: auto;
    }

    .options__item {
        width: 48%;
    }

    .options__image img {
        justify-content: flex-end;
        align-items: flex-end;
        bottom: 0 !important;
        right: 0 !important;
        //height: auto;
        //width: 100%;
    }


    .options__item img {
        max-width: 140px;
    }





}

@media screen and (max-width: 404.98px) {

    .clear__item {
        width: 100%;
    }
}