.tingle-modal-box {
    width: auto;
}

.tingle-modal-box__content {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background: $color-gradient;
}