$color-main = #242424;
$color-yellow-light = #FFDD6C;
$color-yellow-dark = #FFCC00;
$color-darkdarkgray = #333333;
$color-darkgray = #4F4F4F;
$color-gray = #828282;
$color-lightgray = #FDFDFD;

$color-gradient = linear-gradient(to bottom, $color-yellow-light, $color-yellow-dark);