@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url("fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format('woff2'), url("fonts/pt-sans-v11-latin_cyrillic-regular.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url("fonts/pt-sans-v11-latin_cyrillic-700.woff2") format('woff2'), url("fonts/pt-sans-v11-latin_cyrillic-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url("fonts/montserrat-v14-latin-700.woff2") format('woff2'), url("fonts/montserrat-v14-latin-700.woff") format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html,
body {
  font-family: 'PT Sans', sans-serif;
}
@import 'reset.css';
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.quiz__form input[type="checkbox"]:checked,
.quiz__form input[type="checkbox"]:not(:checked),
.quiz__form input[type="radio"]:checked,
.quiz__form input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.quiz__form input[type="checkbox"]:checked + label,
.quiz__form input[type="checkbox"]:not(:checked) + label,
.quiz__form input[type="radio"]:checked + label,
.quiz__form input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-left: 0;
}
.quiz__form input[type="checkbox"]:checked + label:before,
.quiz__form input[type="checkbox"]:not(:checked) + label:before,
.quiz__form input[type="radio"]:checked + label:before,
.quiz__form input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #fc0;
  background-color: #fff;
}
.quiz__form input[type="checkbox"]:checked + label:before,
.quiz__form input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 2px;
  margin-top: 3px;
}
.quiz__form input[type="radio"]:checked + label:before,
.quiz__form input[type="radio"]:not(:checked) + label:before {
  border-radius: 100%;
}
.quiz__form input[type="checkbox"]:checked + label:after,
.quiz__form input[type="checkbox"]:not(:checked) + label:after,
.quiz__form input[type="radio"]:checked + label:after,
.quiz__form input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.quiz__form input[type="checkbox"]:checked + label:after,
.quiz__form input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 6px;
  width: 14px;
  height: 8px;
  border-radius: 1px;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.quiz__form input[type="checkbox"]:checked + label:before {
  background: #fc0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.quiz__form input[type="radio"]:checked + label:after,
.quiz__form input[type="radio"]:not(:checked) + label:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #fc0;
}
.quiz__form input[type="checkbox"]:not(:checked) + label:after,
.quiz__form input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}
.quiz__form input[type="checkbox"]:checked + label:after,
.quiz__form input[type="radio"]:checked + label:after {
  opacity: 1;
}
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 1px;
  }
}
@media screen and (max-width: 767.98px) {
  .container {
    max-width: 1px;
  }
}
@media screen and (max-width: 575.98px) {
  .container {
    max-width: 1px;
  }
}
html,
body {
  font-size: 16px;
  color: #242424;
  font-weight: 400;
  margin: 0;
}
body {
  margin: 0;
}
ul,
li {
  list-style: none;
}
ul {
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  background-image: url("../img/header-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 700px;
}
.header__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__ul_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__li:first-child .header__link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header__li:first-child .header__link .header__image_wrapper {
  width: 100px;
  height: 100px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__h1 {
  font-weight: 700;
  font-size: 20px;
  color: #4f4f4f;
  margin-left: 15px;
}
.header__link {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}
.header__link_white {
  font-weight: 700;
  font-size: 18px;
  color: #fafafa;
  margin-right: 40px;
}
.header__phone {
  color: #fdfdfd;
}
.header__messanger:not(:last-child) {
  margin-right: 20px;
}
.header__heading_h2 {
  font-weight: 700;
  font-size: 52px;
  line-height: 114.2%;
  margin-top: 125px;
  margin-bottom: 10px;
}
.header__heading_h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 157.2%;
  margin-bottom: 60px;
}
.button {
  font-weight: 400;
  font-size: 18px;
  line-height: 157.2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 70px;
  color: #242424;
  box-shadow: 0px 1.13351px 2.74791px rgba(255,235,0,0.031), 0px 2.86674px 6.94968px rgba(255,235,0,0.044), 0px 5.84789px 14.1767px rgba(255,235,0,0.056), 0px 12.0455px 29.2013px rgba(255,235,0,0.069), 0px 33px 80px rgba(255,235,0,0.1);
  background: linear-gradient(to bottom, #ffdd6c, #fc0);
  outline: none;
  border: none;
}
.header__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__heading_left,
.header__heading_right {
  width: 50%;
}
.header__heading_right img {
  position: relative;
  bottom: -15px;
  right: 55px;
}
.advantages {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 212.56%;
  margin-bottom: 0;
}
.section__subheading {
  font-weight: 400;
  font-size: 22px;
  line-height: 157.2%;
  margin-bottom: 50px;
  margin-top: 0;
}
.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.advantages__item {
  width: 31%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 37px;
}
.advantages__icon {
  min-width: 88px;
  min-height: 88px;
  background-color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 25px;
}
.advantages__heading {
  font-weight: 700;
  font-size: 20px;
  line-height: 157.2%;
  color: #242424;
  margin-bottom: 2px;
  margin-top: 0;
}
.advantages__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 157.2%;
  color: #242424;
  margin-top: 0;
  margin-bottom: 0;
}
.clear {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px;
}
.clear__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.clear__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 182px;
}
.clear__gradient {
  width: 182px;
  height: 128px;
  background: linear-gradient(to bottom, #ffdd6c, #fc0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clear__image {
  background-color: #fafafa;
  width: 172px;
  height: 118px;
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.clear__image img {
  position: relative;
}
.clear__item:nth-child(1) .clear__image img {
  top: 5px;
}
.clear__item:nth-child(2) .clear__image img {
  top: 15px;
}
.clear__item:nth-child(3) .clear__image img {
  top: 15px;
}
.clear__item:nth-child(4) .clear__image img {
  top: 12px;
}
.clear__item:nth-child(5) .clear__image img {
  top: 12px;
}
.clear__item:nth-child(6) .clear__image img {
  top: 8px;
}
.clear__description {
  display: flex;
  width: 100%;
  margin-top: 30px;
  font-size: 18px;
  line-height: 157.2%;
}
.quiz {
  padding-top: 50px;
  padding-bottom: 50px;
}
.quiz__form {
  border: 10px solid;
  border-image: linear-gradient(to bottom, #ffdd6c, #fc0) 60 30;
  background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("../img/quiz-background.jpg") no-repeat center center;
  background-size: cover;
  padding: 100px 180px;
}
.quiz__heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 212.56%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.quiz__subheading {
  font-weight: 400;
  font-size: 22px;
  line-height: 212.56%;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}
.quiz__counter {
  font-weight: 700;
  font-size: 18px;
  line-height: 123.7%;
  color: #828282;
  margin-top: 0;
  margin-bottom: 20px;
}
.quiz__question {
  font-weight: 700;
  font-size: 22px;
  line-height: 123.7%;
  margin-top: 0;
  margin-bottom: 45px;
}
.quiz__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.quiz__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.quiz__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 212.56%;
  margin-bottom: 5px;
}
.quiz__input_number {
  border: 2px solid #fc0;
  padding-left: 15px;
  color: #242424;
  font-size: 16px;
  height: 50px;
  width: 225px;
  margin-bottom: 10px;
}
.button_arrow {
  margin-top: 70px;
  cursor: pointer;
}
.quiz__checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.quiz__label_checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 212.56%;
  margin-left: 10px;
}
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery__strong {
  font-weight: 700;
}
